<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>
  <body class="hacker">
    <a class="skip-link" href="#main-content">Skip to content</a>
    <div class="container">
      <header>
        <nav aria-label="Main navigation">
          <ul class="main-nav">
            {% for item in site.navigation %}
              <li>
                <a href="{{ item.url | relative_url }}" {% if page.url == item.url %}class="active" aria-current="page"{% endif %}>{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <main id="main-content">
        {% include nav.html nav=page.nav %} 

        {{ content }}
      </main>
    </div>
  </body>
</html>